<div class="page-container">
  <div class="sidenav">
    <img src="../assets/images/logo.svg">
    <img src="../assets/icons/home.svg">
    <img src="../assets/icons/briefcase.svg">
    <img src="../assets/icons/compass.svg">
    <img src="../assets/icons/bell.svg">
    <img src="../assets/icons/gear.svg">
    <img src="../assets/icons/log-out.svg">
  </div>
  <div class="content">
    <span class="mobile">
      <span class="page-title">Discover great places to visit</span>
    </span>
    <label class="switch">
      <input type="checkbox" (click)="toggleView()">
      <span class="slider round"></span>
    </label>
    <div class="cards-container">
      <div class="card" [class.card-list-view]="!gridView" (click)="selectDestination($event)" *ngFor="let place of places">
        <img class="image" [class.image-list-view]="!gridView" [src]="place.image">
        <div class="badge-group" *ngIf="gridView">
          <span *ngFor="let badge of place.badges" class="badge">{{badge | uppercase}}</span>
        </div>
        <div class="title">{{place.title}}</div>
        <div class="description" *ngIf="gridView">{{place.description}}</div>
        <div class="interaction-options">
          <img class="comment" [class.comment]="place.commented" src="../assets/icons/message-square.svg" *ngIf="gridView">
          <img class="like" [class.like]="place.liked" src="../assets/icons/heart.svg">
        </div>
      </div>
    </div>
  </div>
</div>